@font-face {
    font-family: Nova Flat;
    src: url(NovaFlat-Regular.ttf);
};

*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: Nova Flat;
    overflow-x: hidden;
    background-image: url(bcg_img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main{
    position: fixed;
    margin-top: -2vh;
    margin-left: -2vw;
    padding: 0%;
    color: #ffffff;
    background-color: #000000;
    width: 110vw;
    height: 10vh;
    z-index: 10;
}

.logo img{
    position: relative;
    width: 150px;
    left: 2%;
}

.Heading{
    font-size: 35px;
    position: fixed;
    top: 1vh;
    margin-left: 15vw;
}

ul{
    position: fixed;
    top: 1vh;
    left: 50vw;
    color: #ffffff;
    list-style-type: square;
    background-color: initial;
}
ul li{
    display: inline;
    padding: 5px;
}
ul li a{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 3px;  
}

ul:hover li a{
    opacity: 0.2;
    filter: blur(5px);
    color: black;
    transition:0.6s ease;
}
ul li a:hover{
    color: black;
    background-color: #f5c6cf;
    opacity: 1;
    filter:blur(0px);
    transition: 0.6s ease;
}

.Heading:hover{
    color:#f5c6cf;
    transform: scale(1.09);
    cursor: default;
    transition: 0.6s ease;
}

.title{
    position: relative;
    top: 40%;
    font-size: 30px;
    text-align: center;
}

.content{
    position: absolute;
    top: 100vh;
    margin-left: 5%;
    margin-right: 5% ;
    font-size: 20px;
}

@media only screen and (max-width:900px) {
    
    .Heading{
        text-align: center;
        left: 10vw;
        top: 3vh;
    }
    .main{
        position: fixed;
        width: 110vw;
        height: 20vh;
        margin-right: -5vw;
    }

    ul{
        top: 10vh;
        left: -9vw;
        font-size: 13px;
    }
    ul li a{
        padding: 5px 6px;
    }

    .logo{
        display: none;
    }


}